<div class="container">
      <nav class="navbar">
        <div class="container-fluid mb-3">
          <a class="navbar-brand" href="/houses">
            <img
              src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1642399114/portal/web%20development%20beginners/05%20Project%20Airbnb/assets/logo-airbnb.png"
              alt=""
              height="40"
              class="d-inline-block align-text-top"
            />
          </a>
					{{#if user}}
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
						<a href="/profile" class="btn btn-outline-secondary me-md-2">{{user.name}}</a>

							<a href="auth/logout" class="btn btn-outline-secondary">Logout</a>

          </div>
					{{else}}
						<a href="auth/login" class="btn btn-outline-secondary">Login</a>
        </div>
				{{/if}}
      </nav>
