{{> nav}}
<div class="container">
	<nav class="navbar">
		<div class="container-fluid mb-5">
			<a class="navbar-brand">
				<img
					src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1642399114/portal/web%20development%20beginners/05%20Project%20Airbnb/assets/logo-airbnb.png"
					alt=""
					height="40"
					class="d-inline-block align-text-top"
				/>
			</a>
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<button class="btn btn-outline-secondary me-md-2" type="button">
					Thais Finck
				</button>
				<button class="btn btn-outline-secondary" type="button">
					Logout
				</button>
			</div>
		</div>
	</nav>
</div>
<!--header-->
<div class="container">
	<div class="row gx-5">
		<!--First column profile-->
		<div class="col-4">
			<h1>Profile</h1>
			<hr />
			<form>
				<div class="mb-3 mt-3">
					<label class="form-label">Name</label>
					<div>
						<input type="text" class="form-control" value="Thais Finck" />
					</div>
				</div>
				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label"
						>Email</label
					>
					<input
						type="email"
						class="form-control"
						id="exampleFormControlInput1"
						value="thaisfinck@gmail.com"
					/>
				</div>
			</form>
			<p>Profile picture</p>
			<p>
				<img
					src="https://randomuser.me/api/portraits/men/11.jpg"
					class="rounded-circle"
					width="70px"
					alt="..."
				/>
			</p>
			<input
				type="url"
				class="form-control mb-1"
				value="https://randomuser.me/api/portraits/men/11.jpg"
			/>
			<button type="submit" class="btn btn-secondary mt-2">
				Save Changes
			</button>
		</div>
		<!--Second columns listenings-->
		<div class="col-8">
			<h1>My Listings</h1>
			<hr />
			<button type="submit" class="btn btn-secondary">
				List a House
			</button>
			<div class="card mb-3 mt-2" style="max-width: 1000px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img
							src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2002/house_02_01.png"
							class="img-fluid rounded-start"
							alt="..."
						/>
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">CLuxury villa in Chaweng</h5>
							<i class="fas fa-map-marker-alt"></i>
							<small id="address">Koh Samui . 4 rooms</small>
							<p class="card-text mt-2">
								This is a wider card with supporting text below as a natural
								lead-in to additional content. This content is a little bit
								longer.This is a wider card with supporting text below as a
								natural lead-in to additional content. This content is a
								little bit longer.
							</p>
							<button type="submit" class="btn btn-outline-secondary">
								Edit
							</button>
							<button
								id="view"
								type="submit"
								class="btn btn-outline-secondary"
							>
								View
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="card mb-3" style="max-width: 1000px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img
							src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2005/house_05_01.png"
							class="img-fluid rounded-start"
							alt="..."
						/>
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">CLuxury villa in Chaweng</h5>
							<i class="fas fa-map-marker-alt"></i>
							<small id="address">Koh Samui . 4 rooms</small>
							<p class="card-text mt-2">
								This is a wider card with supporting text below as a natural
								lead-in to additional content. This content is a little bit
								longer.This is a wider card with supporting text below as a
								natural lead-in to additional content. This content is a
								little bit longer.
							</p>
							<button type="submit" class="btn btn-outline-secondary">
								Edit
							</button>
							<button
								id="view"
								type="submit"
								class="btn btn-outline-secondary"
							>
								View
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
